

.roundButton{
    --scale: 5rem;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--scale);
    height: var(--scale);
    background-color: var(--Primary-Color);
    border-radius: 50%;
    cursor: pointer;
}


.roundButton h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 4rem;
    user-select: none;
}

.roundButton .icon{
    color: white;
    height: 2rem;
    }
