@import url("../../colors.css");

.newCard-container {
  width: 83rem;
  height: 70rem;
  padding: 1.5rem;
  background: var(--Background-Color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.newCard-name {
  display: flex;
  flex-direction: column;
}
.newCard-container label {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: rgb(99, 99, 99);
  font-weight: 300;
  margin-bottom: 5px;
}

.newCard-container h2 {
  color: var(--Primary-Color);
  font-weight: 500;
}

.newCard-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

#newCard-input {
  width: 25rem;
  height: 4rem;
  padding: 15px;
  font-size: 2rem;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.newCard-flag {
  margin-top: 2.5rem;
}

.newCard-flag .flags {
margin-top: 1.5rem;
  display: flex;
  align-items:center;
  justify-content: space-around;
  width: 36.5rem;
  height: 5rem;
  flex-wrap: wrap;
}

.newCard-flag .flags .logo {
    margin-bottom: 4rem;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 1.5rem;
}

.flags .selector{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 11rem;
    height: 5.5rem;
}

.newCard-flag .flags .logo:hover {
  transform: scale(105%);
}

.visa {
  filter: brightness(0);
}



.newCard-color{
  margin-top: 12rem;
}
.newCard-colorsContent{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 40rem;
  gap: 2rem;
}

.newCard-colorsContent .colorBtn{
  margin-top: 2rem;

}

.newCard-actualSelect{
  position: absolute;
  border: 2px solid var(--Primary-Color);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.optionsContainer{
  display: flex;
}

.cardVisualizer{
  margin-left: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnArea{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
