.textButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 14rem;
    background-color: var(--Primary-Color);
    border-radius: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.textButton h3{
    font-size: 2rem;
    color: white;
    font-weight: 400;
}