@import url("./../colors.css");

:root {
  --cor: rgb(170, 0, 147);
}

.container {
  background-color: var(--cor);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  user-select: none;
  width: 20rem;
  height: 13rem;
}

.totalCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20rem;
  height: 13rem;
}

.deleteIcon {
  position: absolute;
  left: -20px;
  top: -25px;
  z-index: 1000;
}

.container .titleCard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  display: flex;
  height: 10rem;
  width: 20rem;
  margin-left: 20px;
  margin-top: 15px;
}
.container .titleCard h3 {
  height: 30px;
  color: white;
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 400;
}

.container .flag-icon {
  font-weight: 500;
  width: 7rem;
}
.icone_container {
  width: 12rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-left: 43%;
}

.chip {
  width: 4rem;
}
