@import url(./components/colors.css);


html {
  font-size: 30.5%;
  scroll-behavior: smooth;
}

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--Background-Color);
}

.cardScreen {
  position: absolute;
  top: 12vh;
  left: 26vw;
}

.cardContainer {
  margin-top: 230px;
  margin-left: 100px;
}
